#authPane {
    -fx-max-width: 200px;
    -fx-spacing: 10px;
    -fx-alignment: center;
}

#authPane HBox {
    -fx-spacing: 5px;
}

.wrongMessage {
    -fx-text-fill: red;
}

#authPane Button {
    -fx-max-width: Infinity;
    -fx-pref-width: 50%;
}
